
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Henny+Penny&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Henny+Penny&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Henny+Penny&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bangers&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Henny+Penny&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bangers&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Henny+Penny&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Signika:wght@300..700&display=swap');


*{
    margin: 0;
    padding: 0;
}

  .animate__animated.animate__bounce {
    --animate-duration: 10s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 10s;
    --animate-delay: 2s;
  }
body{
    background-color: #000000;
}


.color{
    height: 110vh;
    background-color: #040404;
}
.page2{
    background-color: #292a36;
 
}



.profile{

    box-shadow: 0 0 50px red;
    margin-top: 100px;
    width:300px;
    height: 310px;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(img/my.png);
    transition:  background-image 2s ease-out,width 2s ease-out ,height 2s , border-radius 2s ease-out; 
   
  

    

}
.profile:hover{
  
   width: 300px;
   height: 300px;
   border-radius: 10%;
}



.text{
    position: relative;
   margin-top: 100px;
   transition: color  5s ease-out,text-shadow 5s ease-out,text-font 5s ease-in-out;
   transition-duration:calc(10s);
   color: #7e2626;
   text-shadow: 
   3px 3px 10px #0e0b0c;
   
   font-size: 50px;
   font-family: Oswald , Courier, monospace  ;
   /* text-decoration-line: underline;
   text-decoration-color:#121217; */

}
.tcolor{
    color: rgb(216, 213, 213);
    font-size: 50px;
}
.tcolor2{
    color: rgb(216, 213, 213);
    font-size: 75%;
    font-family: Oswald , Courier, monospace  ;
}
.tcolor3{
    color: #7e2626;
    font-size: 75%;
    font-family: Oswald , Courier, monospace  ;
}


h5{
     color: rgb(216, 213, 213);
    font-size: 15px;
    padding-right: 100px;
}


.space{
    margin-top: 20%;
}
.space2{
    margin-bottom: 40%;
}
.icon i{
   display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    color: purple;
    background-color: transparent;
    border: 2px solid rgb(129, 46, 46);
    border-radius: 50%;
    margin: 2px;
    font-size: 30px;
    transition: 0.5s ease;
 
   
}
.icon i:hover{
   color: #000000;
   transform: scale(1.0) translateY(-10px);
   background-color:slateblue;
   box-shadow:  0 0 50px rgb(194, 20, 69);
   
}

.c1{
    outline-color: rgb(10, 117, 212);
    background-color: rgb(54, 16, 65);
    color: #fbfbfb;
   
}
.navtext{
    color: #7e2626;
    margin-right: 100px ;   
    font-family: Oswald , Courier, monospace  ;
}

.img{
    position: relative;
    margin-top: 30px;
    width: 30%;
    background-color: #292c52;
    border: 2px solid rgb(232, 62, 62);
    border-radius: 50%;
    
}

.card{
    
    background-color:rgb(31, 29, 29);
    max-width: fit-content;
    max-height: fit-content;
    border: 1px solid rgb(98, 16, 16);
    transition: 0.9s ease;
   
   
}
.card:hover{
    transform: scale(1.1) ;
    background: rgb(143, 159, 189);
    background: linear-gradient(270deg, rgba(116, 104, 103, 0.681) 0%, rgba(32, 15, 80, 0.873) 60%);

}




.card-text1{
    
    color: #1ad1ff;
    font-size: 100%;
   
}
.card-text{
    text-align: center;
    position: relative;
    display: grid;
    color: #7b9ff4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
.abouttm{
    
    margin-top: 100px;
    color: #7e2626;
    font-weight: bold;
    font-size: 150%;
}
.aboutt{
    color: rgb(206, 196, 196);
    font-size: 110%;
    font-family: Fira Sans Condensed, Helvetica, sans-serif;
  

}







/* //////////////////////////////////////////////// */

  /* From Uiverse.io by ShrinilDhorda */ 
.btn {
    font-size: 1.2rem;
    padding: 0.5rem 1.0rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: cell;
    text-transform: uppercase;
    background-color: rgb(166, 42, 42);
    color: rgb(192, 189, 189);
    font-weight: 600;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #65251f;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
  }
  
  .btn:active {
    scale: 0.92;
  }
  
  .btn:hover {
    background: rgb(143, 159, 189);
    background: linear-gradient(270deg, rgba(235, 93, 80, 0.681) 0%, rgba(94, 61, 61, 0.873) 60%);
    color: rgb(4, 4, 38);
  }
/* 
  /////////////////////////////////CONTACT FORM///////////////////////////////////////////////////////////// */
  
  
  *, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  body, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 1v10px;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: rgb(13, 12, 12);
  }
  
  .screen-header-button.close {
    background: #9d33fa;
  }
  
  .screen-header-button.maximize {
    background: #1f32af;
  }
  
  .screen-header-button.minimize {
    background: #fd4423;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2bcbd6;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #1dc8ea;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea2b1d;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  

  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 50px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  